    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Baby Showers</h1>
        <p>If you are planning on holding a baby shower for a friend family member, Party Planners inc. can help you! We can help you plan and organize the event, maintain the guest list, shopping list and even budget!</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Here to help</h2>
           <p>If you are planning on holding a baby shower for a friend family member, Party Planners inc. can help you! We can help you plan and organize the event, maintain the guest list, shopping list and even budget!</p>
        </div>
		
        <div class="span4">
          <h2>"Sometimes", said Pooh, "the smallest things take up the most room in your heart."</h2>
        </div>
		
        <div class="span4">
			<%= image_tag("baby.jpg", :alt => "picture", :class => "round") %>
        </div>
      </div>

      <hr>
</div> <!-- /container -->
 