    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Birthdays</h1>
        <p>At Party Planners inc. we believe no birthday is too small to celebrate! So be it your child's birthday, your loved one's milestone birthday or a celebration of a good life, we're here to help!</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Here to help</h2>
           <p>At Party Planners inc. we believe no birthday is too small to celebrate! So be it your child's birthday, your loved one's milestone birthday or a celebration of a good life, we're here to help!</p>
        </div>
        <div class="span4">
          <h2>Birthdays are good for you; the more you have the longer you live!</h2>
        </div>
        <div class="span4">
          <%= image_tag("birthday.jpg", :alt => "picture", :class => "round") %>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->
