<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>General Parties</h1>
        <p>We cover all sorts of parties: from corporate events, cocktails,anniversaries, Bar Mitzvahs, garden parties and even family reunions! We do personalized parties according to your specified needs.</p>
      </div>

      <!-- Example row of columns -->
	  <div class="row">
        <div class="span4">
          <h2>Events we cover:</h2>
          <li>Dinner parties</li>
		  <li>Costume themed parties</li>
		  <li>Anniversaries</li>
		  <li>Housewarming parties</li>
		  <li>Family reunions</li>
		  <li>Barbeques</li>
		  <li>Beach parties</li>
        </div>
        <div class="span4">
          <h2>We cover all sorts of parties: from corporate events, cocktails,anniversaries, Bar Mitzvahs, garden parties and even family reunions!</h2>
        </div>
        <div class="span4">
			<%= image_tag("generic.jpg", :alt => "Generic picture", :class => "round") %>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          
        </div>
         </div>

      <hr>
	</div> <!-- /container -->