<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Graduation</h1>
        <p>Whether your child's graduating from kindergarten, elementary school, high school or even college, we can help you throw the best graduation party to celebrate the beginning of a new era. </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Here to help</h2>
           <p>Whether your child's graduating from kindergarten, elementary school, high school or even college, we can help you throw the best graduation party to celebrate the beginning of a new era.</p>
        </div>
        <div class="span4">
          <h2>There is a good reason they call these ceremonies 'commencement exercises'. Graduation is not the end; it's the beginning.</h2>
        </div>
        <div class="span4">
          <%= image_tag("graduation.jpg", :alt => "picture", :class => "round") %>
        </div>
      </div>

      <hr>
</div> <!-- /container -->
