<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
		</br>
        <h1>Party Planners inc.</h1>
		</br>
        <p> Welcome to the official website of Party Planners inc! 
		</br>We organize, plan and cater any events based on your needs. 
		</br>Start planning your event by selecting the type of event below</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span3">
          <h2 class="general", align="center"><%= image_tag("generic1.jpg", :alt => "picture", :class => "round") %>  General Party</h2>
          <h2 class="general", align="center"><General Party</h2>
           <p class="general"></br><a class="btn" href="generic.html">View details &raquo;</a></p>
        </div>
		
        <div class="span3">
          <h2 class="graduation", align="center"><%= image_tag("graduation1.jpg", :alt => "picture", :class => "round") %>Graduation parties</h2>
          <p class="graduation", align="center"></br><a class="btn" href="graduation.html">View details &raquo;</a></p>
       </div>
	   
        <div class="span3">
          <h2 class="birthday", align="center"><%= image_tag("birthday1.jpg", :alt => "picture", :class => "round") %>Birthday parties</h2>
          <p class="birthday", align="center"></br><a class="btn" href="birthday.html">View details &raquo;</a></p>
        </div>
		
		<div class="span3">
          <h2 class="baby", align="center"><%= image_tag("baby1.jpg", :alt => "picture", :class => "round") %>Baby Showers</h2>
          <p class="baby", align="center"></br><a class="btn" href="baby.html">View details &raquo;</a></p>
        </div>
      </div>
	 <hr>

